@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 4rem;
    padding-right: 4rem;
    max-width: 1228px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.25rem;
}

.narrow-container {
    padding-left: 4rem;
    padding-right: 4rem;
    max-width: 1008px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.25rem;
}

/* Nav */

header {
    background: #1f2937;
    padding-top: 1.5rem;
}

.logo a {
    font-size: 1.5rem;
    color: #f9faf8;
    margin: 0;
}

.logo a:hover {
    color: #3882f6;
    transition: .5s ease-in-out;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul {
    list-style-type: none;
}

nav ul,
li,
a {
    display: inline-block;
    margin-left: 1rem;
    color: #e5e7eb;
    font-size: 1.125rem;
}

nav ul li a:hover {
    color: #3882f6;
    transition: .5s ease-in-out;
}

/* Header */

.header-container {
    display: flex;
    gap: 2rem;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    align-items: center;
}

@media screen and (max-width:655px) {
    .header-container {
        flex-direction: column;
    }
}

.header-content-left {
    flex-basis: 50%;

}

.header-content-left h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #f9faf8;
}

.header-content-left p {
    font-size: 1.125rem;
    color: #e5e7eb;
    margin-bottom: 1.5rem;
}

.header-content-right {
    flex-basis: 50%;
    display: flex;
}

.header-content-right img {
    align-self: center;
    max-width: 100%;
    overflow: auto;

}

.btn {
    background-color: #3882f6;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.313rem;
    cursor: pointer;
    display: inline-block;
    justify-self: flex-start;
}

.btn:hover {
    background-color: #e5e7eb;
    color: #3882f6;
    transition: 0.5s;
}

/* About Section */

.about h2 {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 800;
    color: #1f2937;
    margin-bottom: 20px;
}

/* About */

.about {
    color: black;
}

.card-list {
    display: flex;
    justify-content: center;
    gap: 3.125rem;
    flex-wrap: wrap;
}

.card {
    padding: 1.6rem;
    flex: 1 1 25%;
    max-width: 11.25rem;
    text-align: center;
}

.card .bx {
    border: #3882f6 0.313rem solid;
    border-radius: 0.625rem;
}

.card p {
    font-size: 1.5rem;
}

.card-img {
    width: 8rem;
    height: auto;
}

/* Quote */

.quote {
    background-color: #e5e7eb;
}

.quote-text {
    color: #1f2937;
    font-size: 2.25rem;
    font-style: italic;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
}

.quote-text blockquote {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
}


.quote-text p {
    padding-right: 3.125rem;
}

cite {
    display: block;
    text-align: end;
    font-style: normal;
    font-weight: 600;
    padding-right: 3.125;

}


/* Call to Action */

.cta-left p,
h2 {
    color: #f9faf8;
}

.cta-right {
    align-self: center;
    justify-self: end;

}

.cta-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #3882f6;
    border-radius: 5px;
    margin-bottom: 2.188rem;
    padding: 3.125rem 6.25rem;
}

@media screen and (max-width:555px) {
    .cta-container {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .cta-right {
        justify-self: auto;
    }
}


.btn-cta {
    background-color: #3882f6;
    border: #f9faf8 solid 2px;
    border-radius: 5px;
    text-align: center;
    color: #f9faf8;
    padding: 0.75rem 1.5rem;
    cursor: pointer;

}

/* Footer */

footer {
    background: #1f2937;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

footer p {
    color: #f9faf8;
}



/* Testimonials */

.test-flex {
    display: flex;
    flex-direction: row;

}

.testimonial-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, 20rem);
    margin-inline: auto;
    margin-bottom: 1.5rem;
    justify-content: center;
}


.testimonial {
    font-size: 1rem;
    padding: 2rem;
    border-radius: 0.5rem;
    color: #1f2937;
    background-color: #e5e7eb;
}

.testimonial .test-img {
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 50%;
}

.testimonial .name {
    font-size: 3.125rem;
    font-weight: 400;
    line-height: 1;
    color: #1f2937;
}

.testimonial .position {
    font-size: 1.25rem;
    opacity: 0.5;
}

/* Menu */

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    gap: 2rem;
    justify-content: center;
}

.menu-section {
    background-color: #e5e7eb;
    border-radius: 0.625rem;
    padding: 1.25rem;
}

.menu-section {
    text-align: center;
}

.menu-section p,
h4 {
    text-align: left;
    font-size: 12px;
}

.menu-section p {
    font-size: 0.625rem;
    color: #1f2937;
}

.menu-section h2 {
    color: #1f2937;
}

/* About us */

.about-us-text {
    background-color: #e5e7eb;
    border-radius: 10px;
    padding: 2rem;
    margin-bottom: 1.5rem;
}

.about-us-text h2,
p {
    color: #1f2937;
}

.about-us-text p {
    font-size: 1.5rem;
}

.about-us-text h2 {
    text-align: center;
    font-size: 2.25rem;
}